
<h1>Utility Tracking System</h1>
<!-- <div class="wrapper">
	<div class="text-class">
		<a href="#" class="btn btn-green btn-lg btn-build san30 sbold scolor-white" role="button">Continue to my Page >> &nbsp;&nbsp;</a>
	</div> -->
</div>



<div class="jumbotron">
	<%= link_to 'Please Login', welcome_login_path, class: "btn btn-defalt btn-landing" %>
</div>
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt rem facilis omnis accusantium obcaecati dolorem, quisquam dicta architecto aliquam ipsam eos ex nemo consequatur laborum, odit harum. At, nihil.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt rem facilis omnis accusantium obcaecati dolorem, quisquam dicta architecto aliquam ipsam eos ex nemo consequatur laborum, odit harum. At, nihil.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt rem facilis omnis accusantium obcaecati dolorem, quisquam dicta architecto aliquam ipsam eos ex nemo consequatur laborum, odit harum. At, nihil.</h3>



