


<div class="jumbotron">
	<%= link_to "Continue", dashboard_path, class: "btn btn-defalt btn-landing" %>
</div>
<h4>Utility Tracking System is a new way of keeping track of your bill payments. The system gives a notification some days perior to the next payment date of a particular bill. <br>The system was built to eleminate too much paper work of bills paied, keep track of the bills and serve as a reminder. Please Click on the Login button above to gain access to the system or kindly see the system administrator to register you if only you a new user. Thank you!</h4>



