
<!DOCTYPE html>
<html>
<head>
  <title>Login form</title> 
  <meta name="robots" content="noindex, nofollow" />
  <script src="script.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <!-- Including below JS library is mandatory to use shake effect -->
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body class="loginbody">
  <div id="maindiv">
    <div id="first">
      <div id="title"><p><h2><%= link_to 'index page', bills_path %></h2></p></div>
      
      <form id="login">
      </br>
      <h3>Login Form</h3>
    </br>
    <input class="textbox" id="email" name="email" type="email" autofocus: true placeholder="Email">
  </br>
</br>
<input class="textbox" id="password" name="password" type="password" autofocus: true placeholder="Password">
</br>
<input  type="button" id="login_button" value=" Login "/>
<div id="message"></div>
</form>
<div id="last">
  Example:<br/>
  Email : <span> myemail@gmail.com</span><br/>Password : <span>my password</span>
</div>
</div> 
</body>
</html>
