<!-- <p>
	<strong>Name:</strong>
	<%= company.name %>
</p>
<p>
	<strong>Address:</strong>
	<%= company.address %>
</p>
<p>
	<strong>Contact:</strong>
	<%= company.contact %>
</p>
<p>
	<strong>Logo:</strong>
	<%= company.logo %>
</p> -->
